comet_ml~=3.49.4
pytest~=8.3.5
pandas~=2.2.3
joblib~=1.4.2
requests~=2.32.3
pmdarima~=2.0.4
scikit-learn~=1.4.0
numpy~=1.26.4
scipy~=1.11.4
zenml~=0.75.0
fastapi[standard]>=0.113.0,<0.114.0
pydantic>=2.7.0,<3.0.0